<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--包扫描、只要标注了@Controller、@Service、@Repository、@Component，都会被自动扫描加入容器中-->
    <!--<context:component-scan base-package="top.p3wj"></context:component-scan>-->
    <context:property-placeholder location="classpath:person.properties"></context:property-placeholder>
    <bean id="person" class="top.p3wj.bean.Person" scope="prototype">
        <property name="age" value="18"></property>
        <property name="name" value="zhangsan"></property>
        <property name="nickName" value="${person.nickName}"></property>
    </bean>

</beans>